
.cardWrapper {
    width: 30%;
    height: 30%;
    display: block;
    float: left;
    position: relative;
    margin: 0 .78125% 50px;
    border-radius: 5%;
    background: #f6f7df;
    border: 1px solid rgb(219, 219, 219);
}

.imgWrapper {
    margin: 0 auto;
    display: block;
    width: 75%;
}

.pokemon-name {
    color: rgba(64, 70, 66, 0.6901960784313725);
}


.id {
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    color: sandybrown;
    font-size: 80%;
    padding-top: 2px;
}


.loadButton {
    margin: 1.78% 2.78% 0.78%;
    border-radius: 15%;
    padding: 120px 80px;
    background: #ebecba;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.textWrapper{

    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    word-spacing: 0.4px;
    color: #000000;
    font-size: 120%;
}



