.header {
    display: flex;
    background: rgba(85, 140, 161, 0.8588235294117647);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-title {
    cursor: default;
}


.header img {
    width: 90px;
    margin-right: 2%;
}

