.nav {
    grid-area: n;
    background-color: skyblue;
    min-height: 30em;
}


.navPosition {
position: fixed;
}

.item a {
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 150%;


}

.item a.activeLink {
    color: gold;
}

