.app-wrapper {
  display: grid;
  margin-left: 20PX;
  grid-template-areas:
  'h h'
  'n c';


  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}




